[user]
	name = Christopher Thiesmann
	email = christopher-thiesmann@web.de
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	sta = status -sMbu
[merge]
	commit = no
	ff = no
